* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px 0;
}

.l_heading {
  font-size: 40px;
}

.clr {
  clear: both;
}

.py_1 {
  padding: 10px 0;
}

.py_2 {
  padding: 20px 0;
}

.py_3 {
  padding: 30px 0;
}

.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.text_primary {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.bg_dark {
  background-color: #333;
  color: white;
}
.bg_primary {
  color: #333;
  background-color: #f7c08a;
}
.bg_light {
  color: #333;
  background-color: #f4f4f4;
}

.btn_dark {
  display: inline-block;
  font-size: 18px;
  color: white;
  background-color: #333;
  padding: 13px 20px;
  border: none;
}

.btn_light {
  display: inline-block;
  font-size: 18px;
  color: #333;
  background-color: white;
  padding: 13px 20px;
  border: none;
}

.btn_light:hover {
  background-color: #f7c08a;
  color: #333;
}

.btn_dark:hover {
  background-color: #f7c08a;
  color: #333;
}

.navbar {
  background-color: #333;
  color: white;
  overflow: auto;
}
.navbar a {
  color: white;
}

.navbar h1 {
  float: left;
  padding: 20px;
}

.navbar ul {
  float: right;
  list-style: none;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  padding: 20px;
  text-align: center;
}
.navbar li a:hover,
a.current {
  background-color: #444;
  color: #f7c08a;
}

.showcase {
  background: url("../images/showcase.jpg") no-repeat center center/cover;
  height: 600px;
}

.showcase .showcase_content {
  color: white;
  text-align: center;
  padding-top: 170px;
}
.showcase .showcase_content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

.showcase .showcase_content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

.home_info {
  height: 400px;
}
.home_info .info_img {
  float: left;
  width: 50%;
  background: url("../images/photo-1.jpg");
  min-height: 100%;
}
.home_info .info_content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}
.box {
  float: left;
  width: 33.3%;
  padding: 5px;
  text-align: center;
}

.box i {
  margin-top: 7px;
  margin-bottom: 10px;
}

.main_footer {
  text-align: center;
  background-color: #444;
  color: white;
  padding: 20px;
}

.about_info .info_right {
  float: right;
  width: 50%;
  min-height: 100%;
}

.about_info .info_right img {
  width: 70%;
  display: block;
  margin: auto;
  border-radius: 50%;
}
.about_info .info_left {
  float: left;
  width: 50%;
  min-height: 100%;
}

.testimonials {
  height: 600px;
  background: url("../images/test-bg.jpg") no-repeat center center/cover;
  padding-top: 100px;
}

.testimonial img {
  width: 100px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}
.testimonials h2 {
  color: white;
  text-align: center;
  padding-bottom: 40px;
}
.testimonial {
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
  opacity: 0.87;
}

.form_group {
  margin-bottom: 20px;
}

.contact_form label {
  display: block;
  margin-bottom: 5px;
}

.contact_form input,
.contact_form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

.contact_form textarea {
  height: 200px;
}

.contact_form input:focus,
.contact_form textarea:focus{
    outline: none;
    border-color: #f7c08a;
}
